﻿<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    


    <title>Test</title>


</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <h1><a href="/">Hi, it's a test Application</a></h1>
        </div>

    </div>

    <div>
        @RenderBody()
    </div>



    <footer>
        <p>&copy; @DateTime.Now.Year - Test</p>
    </footer>
</body>
</html>

