﻿@model WebApplication6.Models.IndexModel

@{
    Layout = "~/Views/_Layout.cshtml";
}


<table class="table table-striped">
    <tr class="active">

        <td class="info">ID</td>
        <td class="success">URL</td>
        <td class="warning">Time to load in ms</td>

    </tr> 

    @foreach (var m in Model.ux.OrderByDescending(m => m.timeexe))
    {
        
    <tr class="active">
      

        <td>@m.i</td>
        <td><a href="@m.node">@m.node</a></td>
        <td><i class="glyphicon glyphicon-time"></i> @m.timeexe</td>
       
    </tr>
    
    }
   
</table>
<div class="alert alert-success">Total time elapsed @ViewBag.Message</div>
<div class="alert alert-danger" id="jsonstr">@ViewBag.Message2</div>


  <!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/patterns.js"></script>


    <script>
        var str = '[@ViewBag.Message2]';

        //  s = s.replace(/&quot;/gi, "\"");
        str = str.split('&quot;').join('\"').replace(",]", "]");
        var strr = JSON.parse(str);
        console.log(str);
      //  console.log(str);
       // alert(str);
        var chart = AmCharts.makeChart("chartdiv", {
            "theme": "patterns",
            "type": "serial",
            "startDuration": 2,
            "dataProvider": strr ,
            "valueAxes": [{
                "position": "left",
                "axisAlpha": 0,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "[[category]]: <b>[[value]]</b>",
                "colorField": "color",
                "fillAlphas": 0.85,
                "lineAlpha": 0.1,
                "type": "column",
                "topRadius": 1,
                "valueField": "time"
            }],
            "depth3D": 40,
            "angle": 30,
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "ID",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0

            },
            "export": {
                "enabled": true
            }

        }, 0);
    </script>
    <!-- HTML -->
    <div id="chartdiv"></div>
