﻿@model WebApplication6.Models.IndexModel
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/_Layout.cshtml";
}

    
        <div class="panel-footer">

            Input URL to sitemap.xml
           

                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <div class="panel panel-primary">
                        <div class="input-group">
                            @Html.TextBoxFor(u => u.URL, new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button name="action" value="'URL'" class="btn btn-primary">URL to XML</button>
                            </span>

                        </div>
                    </div>

                 }

            @using (Ajax.BeginForm("myWebClient_DownloadProgressChanged", "Home", new AjaxOptions
            {
            UpdateTargetId = "results",
            LoadingElementId = "loading"
            

            }))


            {
            <div class="progress progress-striped active">
                <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} </uib-progressbar>

            </div>
            }
        </div>

       

   
   